<!doctype html>
<head>
    <title>Report</title>
    <link rel="icon" href="static/images/eci_logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="css/stylesheet"/>
</head>
<body>
<div class="container">
    <span>
        <label><b>Assembly Name: </b>{{assembly}}</label>
        <label style="margin-left: 50px;"><b>Image Type: </b>{{type}}</label>
        <label style="margin-left: 50px;"><b><a href="/choose_assembly">Back</a></b></label>
        <label style="float: right;"><b><a href="/logout">Logout</a></b></label>
    </span>
    <hr style="border-bottom: 1px;"/>
    <button type="button" onclick="printJS({ printable: 'data_table', type: 'html' })">Print<img src="static/images/print.png" style="padding: 3px;height: 29px;margin-left: 4px;"/></button>
    
    <div class="table-responsive">
        {{ pagination.info }}
    <table id="data_table" class=" display" style="border-collapse:collapse" border="1px">
        <thead>
            <tr style="background:grey">
                <td></td>
                {% for i in range(3) %}
                <td></td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for cluster in data %}
        <tr><th colspan="{{4}}" style="background: #efe3e3;text-align: center;">Cluster Id: {{loop.index + (page - 1) * per_page}}</th></tr>
            <tr>
                {% for imageName,base64image in cluster %}
                    {% if (loop.index)%5==0 %}
                        </tr><tr><td style="width:15%"><img src="data:image/jpg;base64,{{base64image}}" style="height:100px;width:100px;margin:5px"/><br/>{{imageName}}</td>
                    {% else %}
                        <td style="width:15%"><img src="data:image/jpg;base64,{{base64image}}" style="height:100px;width:100px;margin:5px"/><br/>{{imageName}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {{ pagination.info }}{{ pagination.links }}
    </div>
</div>
</div>
</body>
</html>
